# =============================================================================
# Ignored Files
# =============================================================================


# -----------------------------------------------------------------------------
# Main
# -----------------------------------------------------------------------------

/content/uploads/
/content/cache/
/content/vendor/
bower_components/
node_modules/
/vendor/
/wp/
.htaccess
.sass-cache/
.DS_Store
composer.lock
composer.phar
wp-local-config.php
npm-debug.log


# -----------------------------------------------------------------------------
# Plugins
# -----------------------------------------------------------------------------
# Plugins should be managed by Composer, but if you have a folder/file that you
# want managed in the main repo then make sure you un-ingore it here.

# Don't ignore the folder
!/content/plugins/

# Ignore everything in the folder by default
/content/plugins/*

# Don't ingore the following
!/content/plugins/html-inspector.php
!/content/plugins/remove-headers.php
!/content/plugins/wz-legacy/
!/content/plugins/remove-root-url/