
// ============================================================================
// Blurb
// ============================================================================


.blurb {
    font-family: SansationLight;
    font-size: 1.2em;
    font-weight: 100;
    text-align: justify;

    @include span-columns( 8 );
    @include shift( 0 );

    @include media( $mobile ) {

        @include span-columns( 10 );
        @include shift( 1 );

        h1 {
            text-align: center;
        }

    }

}
