
// ============================================================================
// Images
// ============================================================================


// ----------------------------------------------------------------------------
// Default
// ----------------------------------------------------------------------------

.img {
    background-size: cover;
    background-repeat: no-repeat;
    @include hide-text;
}


// ----------------------------------------------------------------------------
// Logo
// ----------------------------------------------------------------------------

.img-logo {
    @extend .img;

    background-image: url('#{$dir-img}/logo.png');

    @include size(160px);
    @include hidpi(1.5) {
        background-image: url('#{$dir-img}/logo@2x.png');
    }

}

.img-logo--small {
    @include size(40px);
}
