
// ============================================================================
// Navigation
// ============================================================================

.menu {
    @extend .list--un-styled;

    padding: 0;
    margin: 0;

    & > li {
        display: inline-block;
    }

}


// ----------------------------------------------------------------------------
// Main
// ----------------------------------------------------------------------------
// Navigation in the header

.nav-main {
    text-align: right;
    float: right;

    @include span-columns( 6 );

    li {
        line-height: 40px;
        padding-left: 0.5em;
        &:first-child {
            padding-left: 0;
        }
    }

    a {
        color: inherit;
    }


    @include media( max-width 600px ) {
        text-align: center;
        float: none;

        @include shift( 1 );
        @include span-columns( 10 );

        li {
            padding: 0;
            font-size: 1.2em;
            display: block;
        }
    }

}


// ----------------------------------------------------------------------------
// Home
// ----------------------------------------------------------------------------

.nav-home {
    background: #202020;
    padding: 0.5em 0;

    @include clearfix;

}

    .nav-home__inner {
        text-align: center;

        @include outer-container;

        a {
            margin-left: 0.5em;
            margin-right: 0.5em;
        }

        li {
            @include media( max-width 425px ) {
                font-size: 1.5em;
                display: block;
            }

        }
    }
