
// ============================================================================
// Navigation
// ============================================================================

.menu {
    @extend .list--un-styled;

    padding: 0;
    margin: 0;

    & > li {
        display: inline-block;
    }

}


// ----------------------------------------------------------------------------
// Main
// ----------------------------------------------------------------------------
// Navigation in the header

.nav-main {
    text-align: right;
    float: right;

    @include span-columns( 6 );

    li {
        line-height: 40px;
        padding-left: 0.5em;
        &:first-child {
            padding-left: 0;
        }
    }

    a {
        color: inherit;
    }

}
