
// ============================================================================
// Single
// ============================================================================


.single {

    & > article {
        @include clearfix;
    }

}

    .single__title {
        text-align: center;
        @include shift( 1 );
        @include span-columns( 10 );
    }

    .single__title--featured {
        background-color: $color-brand;

        &:last-child {
            margin-bottom: -0.5em;
        }

    }

    .single__embed {
        text-align: center;
        margin: 2em auto;
    }


// ----------------------------------------------------------------------------
// Header
// ----------------------------------------------------------------------------

.single-header {
    background: $color-brand no-repeat center center fixed;

    & > .pad {
        @include outer-container;
    }

}

    .single-header--featured {
        background-position-y: 100%;
        padding-top: 15em;
        border-bottom: 1px solid #444;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

    }


// ----------------------------------------------------------------------------
// Content
// ----------------------------------------------------------------------------

.single-content {
    @include outer-container;

    p {
        text-align: justify;
    }

    & > .pad {
        margin-top: 2em;

        @include shift( 2 );
        @include span-columns( 8 );
        @include media( $mobile ) {
            @include shift( 1 );
            @include span-columns( 10 );
        }
    }

}

    .single-content--featured {
        margin-top: 1.2em;
    }


// ----------------------------------------------------------------------------
// Footer
// ----------------------------------------------------------------------------

.single-footer {
    margin-top: 1em;
    margin-bottom: 1em;
    color: #444;
    text-align: center;

    & > .pad {
        @include outer-container;
    }

}


// ----------------------------------------------------------------------------
// Comments
// ----------------------------------------------------------------------------

.single-comments {
    margin-top: 3em;

    @include outer-container;

    & > .pad {
        @include shift( 2 );
        @include span-columns( 8 );
        @include media( $mobile ) {
            @include shift( 1 );
            @include span-columns( 10 );
        }

    }

}