
// ============================================================================
// Single
// ============================================================================

.single {

    & > article {
        @include clearfix;
    }

}


// ----------------------------------------------------------------------------
// Header
// ----------------------------------------------------------------------------

.single-header {
    background: $color-brand;

    & > .pad {
        @include outer-container;
    }

    h1 {
        @include shift( 1 );
        @include span-columns( 10 );
    }

}


// ----------------------------------------------------------------------------
// Content
// ----------------------------------------------------------------------------

.single-content {
    @include outer-container;

    p {
        text-align: justify;
        //&:first-child {
        //    line-height: 1.8em;
        //    font-weight: 700;
        //}
    }

    & > .pad {
        margin-top: 2em;

        @include shift( 2 );
        @include span-columns( 8 );
        @include media( $mobile ) {
            @include shift( 1 );
            @include span-columns( 10 );
        }
    }

}


.single-footer {
    margin-top: 1em;
    margin-bottom: 1em;
    color: #444;
    text-align: center;

    & > .pad {
        @include outer-container;
    }

}


.single-comments {
    margin-top: 3em;

    @include outer-container;

    & > .pad {
        @include shift( 2 );
        @include span-columns( 8 );
        @include media( $mobile ) {
            @include shift( 1 );
            @include span-columns( 10 );
        }

    }

}