
// ============================================================================
// Single
// ============================================================================


// ----------------------------------------------------------------------------
// Variables
// ----------------------------------------------------------------------------

$module: 'single';


// ----------------------------------------------------------------------------
// Global
// ----------------------------------------------------------------------------

.#{$module} {

    & > article {
        @include clearfix;
    }

}


// ----------------------------------------------------------------------------
// Header
// ----------------------------------------------------------------------------

.#{$module}--header {
    background: $color-brand;

    & > .pad {
        @include outer-container;
    }

    h1 {
        @include shift( 1 );
        @include span-columns( 10 );
    }

}


// ----------------------------------------------------------------------------
// Content
// ----------------------------------------------------------------------------

.#{$module}--content {
    @include outer-container;

    p {
        text-align: justify;
        //&:first-child {
        //    line-height: 1.8em;
        //    font-weight: 700;
        //}
    }

    & > .pad {
        margin-top: 2em;

        @include shift( 2 );
        @include span-columns( 8 );

        @include media( $mobile ) {

            @include shift( 1 );
            @include span-columns( 10 );
        }
    }

}