
// ============================================================================
// Site
// ============================================================================

.site {
    padding-top: 1em;
    padding-bottom: 1em;
}


    // ------------------------------------------------------------------------
    // Site - title
    // ------------------------------------------------------------------------

    .site__title {
        margin-top: 0;
        margin-bottom: 0;

        & > a {
            color: inherit;
        }
    }

    .site__title--small {
        line-height: 40px;
        font-size: px-to-em( 22 );
        @include span-columns( 3 );
    }


// ----------------------------------------------------------------------------
// Site Header
// ----------------------------------------------------------------------------

.site-header {
    @extend .site;

    background: $color-brand;

    & > .container {
        @include outer-container;
    }

    a {
        color: #DDD;
    }

    .img-logo {
        background-size: contain;
        float: left;
        margin-right: $gutter;

        @include shift( 1 );
//        @include span-columns( 1 );

    }

}


    // ------------------------------------------------------------------------
    // Site Header - home elem
    // ------------------------------------------------------------------------

    .site-header--home {
        height: auto;

        .img-logo {
            @include span-columns( 2 );
            @include media( $mobile ) {
            @include span-columns( 4 );
                height: px-to-em( 100px );
                position: relative;
                display: block;
                float: none;
                margin-right: auto;
                margin-left: auto;
                text-align: center;
                margin-bottom: 1em;
            }

        }

    }


// ----------------------------------------------------------------------------
// Site Body
// ----------------------------------------------------------------------------

.site-body {
    @extend .site;
    margin-top: golden-ratio(1em, 1);
    margin-bottom: golden-ratio(1em, 1);
}


// ----------------------------------------------------------------------------
// Site Footer
// ----------------------------------------------------------------------------

.site-footer {
    margin-top: 3em;
    margin-bottom: 3em;

    clear: both;
    color: #444;
    text-align: center;

    a {
        margin-left: 1em;
        color: inherit;
    }

    span {
        &:first-child {
            margin-left: 0;
        }
    }

}
