
// ============================================================================
// Social
// ============================================================================

.social {

    @include media( $mobile ) {
        text-align: center;
    }

}


// ----------------------------------------------------------------------------
// Mixin
// ----------------------------------------------------------------------------

@mixin make-icon( $icon, $background ) {

    .social__ico--#{$icon}-bg {
        @extend .social__ico;

        overflow: hidden;

        background-color: #222;
        border: 3px solid #222;
        //opacity: 0.75;

//        @include transform( rotate( 45deg ) );

        &:hover {
            background-color: $background;
            //opacity: 1;
            //@include transform( rotate( 0deg ) );
        }

    }

    .social__ico--#{$icon} {
        @extend .social__ico;

            font-size: 0;
            @include transform( rotate( -25deg ) );
        //background-image: url('#{$dir-img}/icons/#{$icon}/#{$icon}-48.png');

        &:hover {
            //opacity: 1;
            color: #eee;
        }

        &:before {
            margin-left: 2px;
            line-height: 55px;
            font-size: 50px;
        }

    }

}


// ----------------------------------------------------------------------------
// Icons
// ----------------------------------------------------------------------------

.social__ico {
    display: inline-block;
    @include transition( all 0.3s ease );
    @include size( 48px );
}

@include make-icon( 'twitter',    #00ACED );
@include make-icon( 'github',     #4183C4 );
@include make-icon( 'flickr',     #4183C4 );
@include make-icon( 'linkedin',   #007FB1 );
@include make-icon( 'youtube',    #CD332D );
@include make-icon( 'instagram',  #3F729B );
@include make-icon( 'codeschool', #C68044 );


