
// ============================================================================
// Social
// ============================================================================


.social {

    @include media( $mobile ) {
        text-align: center;
    }

}


// ----------------------------------------------------------------------------
// Mixin
// ----------------------------------------------------------------------------

@mixin make-icon( $icon, $background ) {

    .social__ico--#{$icon}-bg {
        @extend .social__ico;

        overflow: hidden;
        background-color: #222;
        border: 3px solid #222;

        &:hover {
            background-color: $background;
        }

    }

    .social__ico--#{$icon} {
        @extend .social__ico;

        font-size: 0;
        color: $color-brand;

        @include transform( rotate( -25deg ) );

        &:hover {
            color: #eee;
        }

        &:before {
            margin-left: 2px;
            line-height: 55px;
            font-size: 50px;
        }

    }

}


// ----------------------------------------------------------------------------
// Icons
// ----------------------------------------------------------------------------

.social__ico {
    display: inline-block;
    @include transition( all 0.3s ease );
    @include size( 48px );
}

@include make-icon( 'twitter',        #00ACED );
@include make-icon( 'github',         #4183C4 );
@include make-icon( 'flickr',         #4183C4 );
@include make-icon( 'linkedin',       #007FB1 );
@include make-icon( 'youtube',        #CD332D );
@include make-icon( 'instagram',      #3F729B );
@include make-icon( 'codeschool',     #C68044 );
@include make-icon( 'stack-exchange', #1F5196 );

