
// ============================================================================
// Typography
// ============================================================================


// ----------------------------------------------------------------------------
// Base
// ----------------------------------------------------------------------------

html {
    font-size: $em-base;
    color: #EEE;
    font-family: 'Open Sans';
    font-weight: 100;
}

h1 {
    font-size: $h1-font-size;
}

h2 {
    font-size: $h2-font-size;
}

h3 {
    font-size: $h3-font-size;
}

h4 {
    font-size: $h4-font-size;
}

h5 {
    font-size: $h5-font-size;
}

h6 {
    font-size: $h6-font-size;
}

// ----------------------------------------------------------------------------
// List
// ----------------------------------------------------------------------------

h1,
h2,
h3 {
    font-family: SansationLight;
}

p {
    margin-top: golden-ratio(1em, 1) 0;
    margin-bottom: golden-ratio(1em, 1) 0;
    line-height: golden-ratio(1em, 1);
    font-weight: 300;
}


// ----------------------------------------------------------------------------
// Overrides
// ----------------------------------------------------------------------------

h1,
h2,
h3,
h4,
h5,
h6,
p {

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

}