
// ============================================================================
// Main.css
// ============================================================================


// ----------------------------------------------------------------------------
// Typography
// ----------------------------------------------------------------------------

$rem-base:         18px;
$em-base:          $rem-base;

$h1-font-size:     rem-calc(44);
$h2-font-size:     rem-calc(37);
$h3-font-size:     rem-calc(27);
$h4-font-size:     rem-calc(23);
$h5-font-size:     rem-calc(18);
$h6-font-size:     1rem;


// ----------------------------------------------------------------------------
// Colors
// ----------------------------------------------------------------------------

$color-brand:      #b53f87;
$color-background: #222;
$color-link:       $color-brand;
$color-link-hover: #C09;//lighten( $color-link, 10% );


// ----------------------------------------------------------------------------
// Paths
// ----------------------------------------------------------------------------

$dir-img:          '../../img';


// ----------------------------------------------------------------------------
// Grid Settings
// ----------------------------------------------------------------------------

// We need this before the file is loaded
@import '../vendor/neat/neat-helpers';

$column:           60px;
$gutter:           20px;
$grid-columns:     12;
$max-width:        em(960);


// Responsive Stuff

$mobile: new-breakpoint(max-width 850px);