
// ============================================================================
// Main.css
// ============================================================================


// ----------------------------------------------------------------------------
// Typography
// ----------------------------------------------------------------------------

$size-base:        18px;
$rem-base:         $size-base;
$em-base:          $size-base;

$h1-font-size:     px-to-em( 42 );
$h2-font-size:     px-to-em( 25 );
$h3-font-size:     px-to-em( 23 );
$h4-font-size:     px-to-em( 20 );
$h5-font-size:     px-to-em( 18 );
$h6-font-size:     1em;


// ----------------------------------------------------------------------------
// Colors
// ----------------------------------------------------------------------------

$color-brand:      #b53f87;
$color-background: #222;
$color-link:       $color-brand;
$color-link-hover: #9D6188;


// ----------------------------------------------------------------------------
// Paths
// ----------------------------------------------------------------------------

$dir-img:          '../../img';


// ----------------------------------------------------------------------------
// Grid Settings
// ----------------------------------------------------------------------------

// We need this before the file is loaded
@import '../vendor/neat/neat-helpers';

$column:           60px;
$gutter:           20px;
$grid-columns:     12;
$max-width:        px-to-em( 1000 );


// ----------------------------------------------------------------------------
// Responsive Stuff
// ----------------------------------------------------------------------------

$mobile: new-breakpoint(max-width 850px);